{% extends 'base.html' %}
<!-- Exports header and navbar from header.html
     or any file you want-->
{% block title %}About{% endblock %}
{% block content %}
  
    <!-- Content -->
    <section>
        <header class="main">
            <h1>Some facts about stijit</h1>
        </header>

        <span class="image main">
            <img src="./static/stijit-word-192x192.png" alt="About stijit" style="width: 20%;"/>
        </span>

        <p>"STIJIT" is an abbreviation for Software Testing Information Just In Time.</p>

        <hr class="major" />

        <h2>Origin</h2>
        <p>It was found in 2011 as a place to keep engineering notes, thoughts and articles.</p>

        <hr class="major" />

        <h2>Purpose</h2>
        <p>To share the knowledge about good engineering practices.</p>

    </section>
 
{% endblock %}
